h1 {
  margin: 0;
  background-color: black;
  color:white;
}

header {
  margin: 0;
  background-color: black;
  color:white;
  text-align: center;
}

.header-links {
  margin-left: 30px;
}

.header-links:link, .header-links:active, .header-links:visited {
  color: white;
  text-decoration: none;
}

.header-links:hover {
  color: orange;
  text-decoration: none;
}
