<h1>Sign up</h1>
<form action="/user" method="post">
  <input type="text" name="user[name]" placeholder="Enter in your name"><br>
  <input type="text" name="user[username]" placeholder="Enter in username"><br>
   <input type="text" name="user[email]" placeholder="Enter in email"><br>
  <input type="password" name="user[password]" placeholder="Enter in password"><br>
  <input type="password" name="user[password_confirmation]" placeholder="Confirm your password"><br>
  <input type="submit" value="Submit">
</form>
