<h1>Sign in</h1><form action="/session" method="post">
  <input type="text" name="username" placeholder="Enter in username"><br>

  <input type="password" name="password" placeholder="Enter in password"><br>
  <input type="submit" value="Submit">
</form>
