<h1>Individual Meal</h1>
<p><%= @lunchpartner1.name %></p><br>
<h4></h4>
<form action="/meal/<%= @lunch.id %>" method="post" class="acceptance-btn1">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Accept">
</form><br>

<h5><%= @lunchpartner2.name %></h5><br>
<h4></h4>
<form action="/meal/<%= @lunch.id %>" method="post" class="acceptance-btn2">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Accept">
</form><br>
