<h1>Individual Meal</h1>
<p><%= @lunch.lunchpartner1.name %></p><br>
<!-- <h4></h4> -->
<form action="/meal/<%= @lunch.id %>" method="post" class="acceptance-btn1">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="I'd like to cancel">
</form><br>

<h5><%= @lunch.lunchpartner2.name %></h5><br>
<!-- <h4></h4> -->
<form action="/meal/<%= @lunch.id %>" method="post" class="acceptance-btn2">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="I'd like to cancel">
</form><br>
