<h1>Individual Meal</h1>
<%= random_lunch_pairings.lunchpartner1.name %><br>
<button class="acceptance-btn">Accept</button><br>

<%= random_lunch_pairings.lunchpartner2.name %><br>
<button class="acceptance-btn">Accept</button>
