<!-- <ul>

  <%# DBC::Cohort.find(58).students.each do |student| %>
    <li><%#= student.name %></li>
  <%# end %>

  <%# DBC::Cohort.find(57).students.each do |student| %>
    <li><%#= student.name %></li>
  <%# end %>

  <%# DBC::Cohort.find(59).students.each do |student| %>
  <li><%#= student.name %></li>
  <%# end %>

</ul> -->

<h1>Lunch pairings</h1>

<% 18.times do %>

  <% @lunchpartner1 = User.find((1..39).to_a.sample) %>
  <% @lunchpartner2 = User.find((1..39).to_a.sample) %>

  <%= @lunchpartner1.name %> and <%= @lunchpartner2.name %><br><br>

  <%= Lunch.create(lunchpartner1: @lunchpartner1.id, lunchpartner2: @lunchpartner2.id, location: "Dig Inn", time: ) %>

<% end %>




