<h1>All Meals</h1>

<center><h2>Where are we eating today?:</h2></center>

<center><h3><%=["Dig Inn", "Justino's Pizza", "Ulysses"].sample %></h3></center>

<% @lunches = UpcomingLunch.all %>

<% @lunches.each do |lunch| %>
  <br><a href="/meal/<%=lunch.id%>" class="lunch-id"><%= lunch.lunchpartner1.name %> and <%= lunch.lunchpartner2.name %></a><br>

<% end %>



